.nextflow*
.DS_Store
/work
/modules/arriba
/modules/fuscia
/modules/flexiplex
/modules/STAR
./.git/modules/STAR/objects/pack/pack-f67e728172242412d5bda22d0469194f2044564f.pack
./modules/STAR/.git/objects/pack/pack-f67e728172242412d5bda22d0469194f2044564f.pack
