[submodule "flexiplex"]
	path = flexiplex
	url = git@github.com:DavidsonGroup/flexiplex.git
[submodule "fuscia"]
	path = fuscia
	url = git@github.com:ding-lab/fuscia.git
[submodule "STAR"]
	path = STAR
	url = https://github.com/alexdobin/STAR
