/* This is the configuration file, here you can adjust parameters and executors. */

params {
/* pears takes either a directory ("/path/to/in_dir") containing:
 * 		- reads: zipped (.fastq.gz) and formatted according to cellranger naming convention 
 *			([Sample Name]_S1_L00[Lane Number]_[Read Type]_001.fastq.gz)
 * 			 You will need to specify the length of the cell barcode and unique molecular identifier
 * 		- reference genome: unzipped **TODO: make pears accept zipped format too**
 *		- list of known fusion (shr_ouput): output from JAFFA can be directly piped pears or in the 
 *			format of the example.csv file
 * or you can direct pears to each individual input file:
 * 		- reads = "/path/to/reads/"
 *		- reference = "/path/to/reference/"
 *			- if you have pre-generated .fasta or gene.gtf files, ref_fasta and ref_gene
 *			  can be changed.
 * you will also need to indicate an output directory:
 * 		- out_dir = "/path/to/output_directory/"
*/
	//in_dir = not working at the moment 
	
	reads = 
	shr_output = 

	reference = 
	ref_fasta = "${reference}/fasta/fasta"
	ref_gene = "${reference}/gene/gene.gtf"

	out_dir = 
	
	cellbarcode_len = 16
	umi_len = 10

//adjustable parameters
/* fuscia_mapqual: minimum mapping quality of reads fuscia will look through
 * fuscia_up/fuscia_down: if there is no gene annotation, you can specify a range (bp) upstream/downstream 
 *			  of the fusion breakpoint
 * flexiplex_searchlen: 2x the length of sequence (bp) flexiplex will use to look for the fusion sequence. 
 * 			Please note, the longer the sequence, the longer flexiplex will take to run. 
 * 			See **Davidson et al. (2023) 
*/

	fuscia_mapqual = 30
	fuscia_up = 2000
	fuscia_down = 1000
	flexi_searchlen = 20
	
}

/* Executors **TODO: currently only available on slurm** */
process {
	executor = 'slurm'
	memory = '56 GB'
	cpus = 4
	container = 'user/image'
}

//conda env
conda.enabled = true
