//config file

params {
	//one directory containing: reads (read1.fastq, read2.fastq), reference (unzipped directory) and short-read output (file.csv - see template.csv) or you can specify where to look for these files
	//in_dir = "/path/to/directory"
	in_dir = 

	//reads
	//reads = "/path/to/reads/"
	reads = "/stornext/Bioinf/data/lab_davidson/wu.s/datasets/5cl_2R/format/"
	shr_output = "/stornext/Bioinf/data/lab_davidson/wu.s/pears_test/17-4_test/CCLE_formatted.csv"

	//path to references
	//ref = "/path/to/ref"
	reference = "/stornext/Bioinf/data/lab_davidson/wu.s/pears_test/refdata-gex-GRCh38-2020-A"
	ref_fasta = "${reference}/fasta/fasta"
	ref_gene = "${reference}/gene/gene.gtf"

	//out_dir
	//out_dir = "/path/to/output_directory/"
	out_dir = "/stornext/Bioinf/data/lab_davidson/wu.s/nf_pears_test/20-4"


	fuscia_mapqual = 30
	flexi_searchlen = 20
}

//executors
process {
	executor = 'slurm'
	memory = '56 GB'
	cpus = 4
	container = 'user/image'
}

//conda env
conda.enabled = true
//process.conda = 'pears'

