//config file

//one directory containing: reads (read1.fastq, read2.fastq), reference (unzipped directory) and short-read output (file.csv - see template.csv) or you can specify where to look for these files
//in_dir = "/path/to/directory"
in_dir = 

//reads
//reads = "/path/to/reads/*.fastq"
reads = 
shr_out = 

//path to references
//ref = "/path/to/ref"
reference = 
ref_fasta = "${params.ref}/fasta/fasta"
ref_gene = "${params.ref}/gene/gene.gtf"

//out_dir
//out_dir = "/path/to/output_directory/"
out_dir = null


//params
//adjustable parameters
fuscia_mapqual = 30
flexi_search_length = 20


//executors
process {
	executor = 'slurm'
	queue = 'my-queue'
	memory = '56 GB'
	cpus = 4
	container = 'user/image'
}
